CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESPFS_LOG_LEVEL_DEBUG=y
CONFIG_ESPFS_USE_HEATSHRINK=y
CONFIG_EHTTPD_LOG_LEVEL_DEBUG=y
CONFIG_EHTTPD_TLS_MBEDTLS=y
CONFIG_FATFS_LFN_HEAP=y
